<div>
<h2>エントリーフォーム</h2>
<p>
  <span style="color:red">*</span>印がついている項目は必ずご入力下さい。 
</p>
<% form_for(:recruit_entry,:url =>{:action => "entry_send"}) do |f| %>
<dl>
<dt>条件等</dt>
<dd>
    <span style="color:red">*</span><%= f.label :shop_id ,"ご希望の店舗"%>
    <%= select_tag(
      "recruit_entry[shop_id]",
      options_for_select([["-- 未選択 --", ""]]) +
      option_groups_from_collection_for_select(Pref.shop_exists,:shops, :name, :id, :name,(@recruit_entry.shop_id if !@recruit_entry.nil?))
    ) %>
    <span style="color:red">*</span><%= f.label :work_style ,"希望職種"%><%= f.select(:work_style,RecruitEntry::WS_OPTS) %>
    <%= error_message_on "recruit_entry","shop_id" %>
</dd>
<dt>個人情報</dt>
<dd>
    <span style="color:red">*</span><%=f.label :name,"お名前:"%><%=f.text_field :name,:size => 15%>

    <span style="color:red">*</span><%=f.label :name,"年齢"%><%=f.text_field :age,:size => 2%>歳
    <span style="color:red">*</span><%= f.label :sex ,"性別"%><%= f.select(:sex,RecruitEntry::SEX_OPTS) %>
    <%= error_message_on "recruit_entry","name" %>
    <%= error_message_on "recruit_entry","age" %>
    <%= error_message_on "recruit_entry","sex" %>
</dd>
<dt>ご連絡先</dt>
<dd>
    <span style="color:red">*</span><%=f.label :address,"〒:"%><%=f.text_field :zip,:size => 10%>
    <span style="color:red">*</span><%=f.label :address,"ご住所:"%><%=f.text_field :address,:size => 50%>
    <%= error_message_on "recruit_entry","zip" %>
    <%= error_message_on "recruit_entry","address" %>
</dd>
<dd>
    <span style="color:red">*</span><%=f.label :phone,"ＴＥＬ:"%><%=f.text_field :phone,:size => 15%>
    ※日中ご連絡可能、または留守番電話メッセージ録音可能な電話番号をご記入ください。
    <%= error_message_on "recruit_entry","phone" %>
</dd>
<dd>
    <span style="color:red">*</span><%=f.label :mail_addr,"e-mail:"%>
    <%=f.text_field :mail_addr,:size => 30%>
    <br />
    <span style="color:red">*</span><%= f.label :mail_addr ,"(確認)"%>
    <%= f.text_field :maddr_user,:size => 11%>@<%= f.text_field :maddr_domain,:size => 14%>
    <%= error_message_on "recruit_entry","mail_addr" %>
</dd>
<dt>勤務時間帯・弊社からのご連絡方法等、ご希望・ご質問等がありましたらご記入ください。</dt>
<dd>
    <%=f.text_area :message,:size => "80x8"%>
    <%= error_message_on "ir_message","message" %>
</dd>

</dl>
<ul>
  <li>ご入力いただいた情報は暗号化されて送信されます。</li>
  <li>メールアドレス・電話番号の入力には特にご注意ください。間違ったアドレスが入力された場合、ご返信させていただけないことがございます。</li>
  <li>
    お使いのPCの環境（セキュリティソフトなど）により、まれに正しく送信されない場合がございます。
    その際は、お手数ですがセキュリティソフトをいったん無効にし、再度お試しください。
  </li>
</ul>
<p align="center">
<%=f.submit "送信" %>
</p>

<%end%>
</div>
<%if flash[:notice]%>
  <div id="flash_message">
    <%=flash[:notice]%>
    <% flash.discard(:notice) %>
    <br />
    <hr />
    <button onclick="$('flash_message').style.display = 'none';">確認</button>
  </div>
<%end%>