<div>
    <h2>山岡家で働いてみませんか？</h2>
    <%=link_to image_tag("recruit/qr.gif",:align=>"right"),"http://yamaokaya.jp"%>

    <p>
      山岡家は、店長の半数以上がパート・アルバイト出身。
      充分すぎるほどのチャンスがあなたを待っています。
    </p>
    <p>空き時間を有効に活用したい方には、週2日、1日3時間からでもOK。あなたのライフスタイルに合わせて働けます。</p>
    <p>あなたのその能力を、ぜひ山岡家で発揮してください。</p>
    <p><%=link_to "応募フォーム",:action=>"entry"%>からエントリーください。</p>
    <p>また、ケータイからのエントリーも大歓迎。右のQRコードからアクセスください。</p>

    <img src="/images/recruit/staff5.jpg" align="left" style="margin:4px;" alt="スタッフ画像" />
    <img src="/images/recruit/staff.jpg" align="left" style="margin:4px;" alt="スタッフ画像" />
    <img src="/images/recruit/staff2.jpg" align="left" style="margin:4px;" alt="スタッフ画像" />
    <img src="/images/recruit/staff4.jpg" align="left" style="margin:4px;" alt="スタッフ画像" />
    <img src="/images/recruit/staff6.jpg" align="left" style="margin:4px;" alt="スタッフ画像" />
    <img src="/images/recruit/staff3.jpg"  style="margin:4px;" alt="スタッフ画像" />

  <% if not @rec_info.empty? then%>
  <h2>店舗スタッフ緊急募集中！</h2>
  <p>下記の店舗で、スタッフ緊急募集中。今ならすぐに働けます。</p>
  <table class="quick_offer" summary="スタッフ募集店舗一覧">

    <col width="13%" />
    <col width="25%" />
    <col width="11%" />
    <col width="12%" />
    <col width="30%" />
    <col width="11%" />
    <tr class="hd">
      <th abbr="店舗">店舗名</th>
      <th abbr="住所">住所</th>
      <th abbr="電話番号">電話番号</th>
      <th abbr="時給">時給</th>
      <th abbr="コメント">コメント</th>
      <th abbr="エントリー">エントリー</th>
    </tr>
    <%@rec_info.each{ |r|%>
    <tr>
      <th abbr="<%=r.shop_name%>">
        <%=link_to r.shop_name,{:controller => "shop",:action => "shop",:id => r.shop_id},{:class => "sidemenu"}%>
      </th>
      <td>
        <%=r.shop_address%>
      </td>
      <td>
        <%=r.shop_phone%>
      </td>
      <td>
        <div style="color:#DD0000;font-weight:bold;">通常時間帯:</div>
        <%=r.wage_from%>円～
        <div style="color:#000099;font-weight:bold;">深夜時間帯:</div>
        <%=r.wage_from*125/100%>円～
      </td>
      <td>
        <%=r.comment%>
      </td>
      <td>
        <%=link_to "エントリー",:action=>"entry",:shop_id=>r.shop_id%>
      </td>
    </tr>
    <%}%>
  </table>
<%else%>
<hr />
<%end%>
</div>

<div id="narrowarea">
<h3>正社員(店長候補)</h3>
<dl>
  <dt>職種</dt>
  <dd>店舗運営・調理・接客</dd>
  <dt>資格</dt>
  <dd>学歴等不問</dd>
  <dt>給与例</dt>
  <dd>一般社員  200,000円以上</dd>
  <dd>店長　350,000円以上</dd>
  <dd>SV　550,000円以上</dd>
  <dt>時間</dt>
  <dd>シフト制(実働8時間)</dd>
  <dt>休日</dt>
  <dd>月公休(9-10日) シフト制により取得</dd>
  <dd>誕生日休暇</dd>
  <dd>シーズン休暇(5日)</dd>
  <dd>慶弔休暇</dd>

  <dt>福利厚生等</dt>
  <dd>勤務地から遠方にお住まいの場合、異動費用弊社負担</dd>
  <dd>家賃補助あり</dd>
  <dd>交通費支給（会社負担）</dd>
  <dd>役職手当</dd>
  <dd>残業手当</dd>
  <dd>深夜割増手当</dd>
  <dd>休日出勤手当</dd>
  <dd>誕生日手当</dd>
  <dd>従業員持株会</dd>
  <dd>制服貸与</dd>
  <dd>マイカー通勤可（駐車場完備）</dd>
  <dd>異動時費用全額負担</dd>
  <dd>永年勤続表彰制度</dd>
  <dd>山分け制度…社内FC</dd>

  <dt>勤務地</dt>
  <dd>各店舗にて勤務していただきます</dd>
  <dd>（北海道～熊本まで　店舗あり）</dd>
</dl>
</div>
<div id="widearea">
<h3>パート・アルバイト(キッチン・ホールスタッフ)</h3>
<dl>
  <dt>職種</dt>
  <dd>接客・調理補助</dd>
  <dt>資格</dt>
  <dd>学歴等不問</dd>
  <dd>55歳位まで</dd>
  <dt>給与</dt>
  <dd>勤務店舗により異なります</dd>
  <dt>時間</dt>
  <dd>1日 3～6時間　交代制　応相談</dd>
  <dt>休日</dt>
  <dd>応相談　週2日以上より</dd>
  <dt>待遇</dt>
  <dd>社員登用制度あり</dd>
  <dd>交通費支給（社内規程による）</dd>
  <dd>制服貸与</dd>
  <dt>勤務地</dt>
  <dd>新規店舗各店（新店のオープンの3週間前に受付開始）</dd>
  <dd>他全店</dd>
</dl>
</div>