div#fb-foot
:javascript
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="display:none;">
<%@news_s.each{ |i|%>
  <span id="news_<%=i.id%>"><%=fd(i.release_date)%>…<%=link_to i.title,i.url%></span>
<%}%>
</div>
<div id="ue">
  <script type="text/javascript">
  var tickercontent=new Array()
  <%@news_s.each{ |i|%>
  tickercontent[tickercontent.length] = document.getElementById("news_<%=i.id%>").innerHTML;
  <%}%>
  new domticker(tickercontent, "domticker", "someclass", 5000, "fadeit");

  </script>
</div>
<!-- 左側エリア -->
<div id="narrowarea">
  <div class="box">

  <div class="wakumiddle">
    <div class="wakuinner">
      <a class="twitter-timeline" href="https://twitter.com/yamaokaya_pr" data-widget-id="365009217540730880">@yamaokaya_pr からのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="wakuinner">
        <div
          class="fb-like-box"
          data-href="http://www.facebook.com/yamaokaya"
          data-width="250"
          data-height="380"
          data-show-faces="false"
          data-stream="true"
          data-show-border="false"
          data-header="false"></div>
    </div>

    <div class="wakuinner">
      <%=link_to image_tag("index_banner01.jpg",:alt=>"ご意見・ご感想をお聞かせください" ,:style=>"margin:3px;") ,{:action => "index",:controller =>"customer"}%>
      <%=link_to image_tag("index_banner02.jpg",:alt=>"お得なクーポン・情報が届く携帯会員登録はこちら！" ,:style=>"margin:3px;") ,"http://coupon.yamaokaya.com/bm/p/f/tf.php?id=join",{:popup => true}%>
      <%=link_to image_tag("index_banner04.jpg",:alt=>"山岡家でマイルをゲット！" ,:style=>"margin:3px;") ,"http://ana.jp-anex.co.jp/gourmet/",{:popup => true}%>
    </div>

  </div>
  <div class="wakubottom">&nbsp;</div>
  </div>
</div>
<div id="widearea">



  <div class="box">
    <div class="wakutop">
      <div class="ttt">
        <h2 class="wakutitle">店舗情報</h2>
      </div>
    </div>
    <div class="wakumiddle">
      <div class="wakuinner" style="text-align:center;">
        <object
            data="/movies/topmap.swf"
            type="application/x-shockwave-flash"
            width="400"
            height="380"
            title="店舗情報"
         >
            店舗情報
          <param name="movie" value="/movies/topmap.swf" />
          <param name="quality" value="high" />
        </object>
      </div>
    </div>
    <div class="wakubottom">&nbsp;</div>
  </div>



  <div class="box">
    <div class="wakutop">
      <div class="ttt">
        <h2 class="wakutitle">最新情報</h2>
        <%=link_to image_tag("list.gif",:alt=>"最新情報一覧"),{:controller=>"news"},{:title=>"最新情報一覧",:class=>"list"}%>

      </div>
    </div>
    <div class="wakumiddle">
      <div class="wakuinner">
        <table class="news" summary="最新情報">
          <col width="30" />
          <col width="80" />
          <col width="*" />
          <%sp = true%>
          <%@news_s.each{ |i|%>
          <tr class="irb">
            <%if sp == true%>
            <th rowspan="<%=@news_s.length%>" class="topics" abbr="トピックス"><img style=""src="/images/topics.gif" alt="トピックス" /></th>
            <%sp = false%>
            <%end%>
            <td><%=fd(i.release_date)%></td>
            <td><%=link_to i.title,h(i.url)%></td>
          </tr>
          <%}%>

          <%sp = true%>
          <%@news_i.each{ |i|%>
          <tr class="irb">
            <%if sp == true%>
            <th rowspan="<%=@news_i.length%>" class="ir" abbr="IR情報"><img src="/images/ir.gif" alt="IR" /></th>
            <%sp = false%>
            <%end%>
            <td><%=fd(i.release_date)%></td>
            <td><%=link_to i.title,h(i.url),:target=>"_blank"%></td>
          </tr>
          <%}%>
        </table>
      </div>
    </div>
    <div class="wakubottom">&nbsp;</div>
  </div>
</div>
<div id="bottomarea">
  <div class="btb">
    <div class="title">スタッフ募集</div>
    <div style="float:left;padding:5px;">
      関東、東海、中部地区を中心に新店舗拡大中。新しいスタッフ（パート・アルバイト）を募集しております。
    </div>
    <div style="float:left;padding:5px;">
       <%=link_to "詳しくはこちら",{:controller=>"recruit",:action=>"index"},{:title=>"スタッフ募集"}%>
    </div>
  </div>
  <div class="btb">
    <div class="title">店舗物件募集</div>
    <img alt="店舗物件募集" src="/images/index_ph02.jpg" style="float:left;padding:5px;" />
    <div style="float:left;padding:5px;">
      <%=link_to "店舗物件を広く募集しております。",{:controller=>"property",:action=>"index"},{:title=>"店舗物件募集"} %>
    </div>
  </div>
</div>
