#news
  - Shop.new_shops.each do |ns|
    .box(style="clear:both;")
      .wakutop
        .ttt
          %h2.wakutitle
            =link_to("#{fd(ns.inauguration)} オープン!",{:action=>"shop",:id=>ns.id},{:title=>ns.name})
      .wakumiddle
        .wakuinner{style: "color:#334433;font-size:24px;font-weight:bold;"}
          =link_to(ns.name,{:action=>"shop",:id=>ns.id},{:title=>ns.name})
        .wakuinner{style: "height:110px;"}
          = static_map_link_to(ns)
          %div
            〒:
            = ns.zip
          %div
            住所:
            = ns.address
          %div
            TEL:
            = ns.phone
          %div
            営業時間:
            = ns.shop_hour
          - unless ns.shop_hour_comment.blank?
            %div
              ※
              = ns.shop_hour_comment
      .wakubottom