= form_for @ir_message,url:{action: :send} do |f|
  - if @ir_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ir_message.errors.count, "error")} prohibited this ir_message from being saved:"
      %ul
        - @ir_message.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
