<div id="menu">
  <%=link_to "<span>TOP</span>",{:controller=>"top"}%>
  <%=link_to "<span>メニュー</span>",{:controller=>"menu"}%>
  <%=link_to "<span>店舗</span>",{:controller=>"shop"}%>
  <%=link_to "<span>会社概要</span>",{:controller=>"company"}%>
  <%=link_to "<span>IR情報</span>",{:controller=>"ir"}%>
</div>
