<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
  <head>
    <%=render(:partial => "/layouts/meta")%>
    <%=render(:partial => "/layouts/ext_load")%>
    <title>ラーメン山岡家<%="・・・" + @metadata.name if @metadata%></title>
    <script type="text/javascript">
      function mov(obj){
            obj.src = obj.src.replace(".gif","p.gif");
      }
      function movo(obj){
            obj.src = obj.src.replace("p.gif",".gif");
      }
      function load(){
          try{
              loadgmap();
          }catch(e){
              
          }
      }
    </script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3359034-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </head>
  <body onload="load();">
    <div id="xcenter">
      <div id="dscbox">
        <div class="sc3">
          <div class="sc2">
            <div class="sc1">
                <div id="center">
                  <div id="scbox">
                    <div class="sc3">
                      <div class="sc2">
                        <div class="sc1">
                          <div id="title">
                            <%=render(:partial => "/layouts/top_link")%>
                            <div id="flash">
                                <%=render(:partial => "/#{@ctrl}/title") if @ctrl.present?%>
                            </div>
                            <%=render(:partial => "/layouts/menu")%>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="bd">

                      <%=yield%>
                    </div>
                    <%=render(:partial => "/layouts/foot_navi")%>
                  </div>
                  <div id="foot">
                    Copyright 2008 Maruchiyo YAMAOKAYA Corp. All Rights Reserved.
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <%=render(:partial => "/layouts/tab")%>
    </div>
  </body>
</html>