<h1 class="sd">財務情報</h1>
<p>
  <table class="finfo" summary="財務情報">
    <col width="30%" />
    <col width="5%" />
    <col width="13%" />
    <col width="13%" />
    <col width="13%" />
    <col width="13%" />
    <col width="13%" />
    <thead>
      <tr class="top">
        <th colspan="2" class="first" abbr="期別">期別</th>


        <th abbr="16">第16期</th>
        <th abbr="17">第17期</th>
        <th abbr="18">第18期</th>
        <th abbr="19">第19期</th>
        <th abbr="20">第20期</th>

      </tr>
      <tr class="bot">
        <th colspan="2" class="first">区分</th>

        <th abbr="H21">平成21年1月</th>
        <th abbr="H22">平成22年1月</th>
        <th abbr="H23">平成23年1月</th>
        <th abbr="H24">平成24年1月</th>
        <th abbr="H25">平成25年1月</th>

      </tr>
    </thead>
    <tbody>
     <tr>
        <th colspan="2" abbr="売上高">売上高</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b01]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="経常利益">経常利益</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b02]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="当期純利益">当期純利益</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b03]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="当期純利益">持分法を適用した場合の投資利益</th>
        <%@dz.each do |d|%>
        <td>--</td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="資本金">資本金</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b04]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="発行済株式総数">発行済株式総数</th>
        <th abbr="株">（株）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b05]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="純資産額">純資産額</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b06]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="総資産額">総資産額</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b07]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="1株当たり純資産額">1株当たり純資産額</th>
        <th abbr="yen">（円）</th>
        <%@dz.each do |d|%>
        <td><%=mfx @fdata[d][:b08]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="1株当たり配当額">1株当たり配当額（うち1株当たり中間配当額）</th>
        <th abbr="yen">（円）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b09]%><br />(<%= mf @fdata[d][:b09d]%>)</td>
        <%end%>
      </tr>
      <tr>
        <th abbr="1株当たり当期純利益金額">1株当たり当期純利益金額</th>
        <th abbr="yen">（円）</th>
        <%@dz.each do |d|%>
        <td><%=mfx @fdata[d][:b10]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="潜在株式調整後1株当たり当期純利益金額">潜在株式調整後1株当たり当期純利益金額</th>
        <th abbr="yen">（円）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b11]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="自己資本比率">自己資本比率</th>
        <th abbr="パーセント">（％）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b12]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="自己資本利益率">自己資本利益率</th>
        <th abbr="パーセント">（％）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b13]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="株価収益率">株価収益率</th>
        <th abbr="倍">（倍）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b14]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="配当性向">配当性向</th>
        <th abbr="パーセント">（％）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b15]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="営業活動によるキャッシュ・フロー">営業活動によるキャッシュ・フロー</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b16]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="投資活動によるキャッシュ・フロー">投資活動によるキャッシュ・フロー</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b17]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="財務活動によるキャッシュ・フロー">財務活動によるキャッシュ・フロー</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b18]%></td>
        <%end%>
      </tr>
      <tr>
        <th colspan="2" abbr="現金及び現金同等物の期末残高">現金及び現金同等物の期末残高</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b19]%></td>
        <%end%>
      </tr>
      <tr>
        <th abbr="従業員数">従業員数（外、平均臨時雇用者数）</th>
        <th abbr="人">（人）</th>
        <%@dz.each do |d|%>
        <td><%=mf @fdata[d][:b20]%><br />(<%=mf @fdata[d][:b20d]%>)</td>
        <%end%>
      </tr>
    </tbody>
  </table>
  <ol>
    <li>売上高には、消費税等は含まれておりません。 </li>
    <li>
		潜在株式調整後1株当たり当期純利益金額については、 第16期及び第20期は希薄化効果を有している 潜在株式が存在しないため、
		第19期は潜在株式は存在するものの1株当たり当期純損失のため記載しておりません。
	  </li>
    <li>第19期の自己資本利益率、株価収益率及び配当性向については、当期純損失のため記載しておりません。</li>
    <li>従業員数は就業人員数であり、平均臨時雇用者数は（　）内に外書きで記載しております。 </li>
    <li>
      当社は、平成24年11月26日開催の取締役会決議に基づき、平成25年2月1日付で株式1株につき100株の株式分割を行なっております。
      そのため、平成24年1月期の期首に当該株式分割が行われたと仮定して1株当たり当期純利益金額及び1株当たり純資産金額を算定しております。
    </li>
  </ol>
</p>