<h1 class="sd">山岡家の歴史</h1>
<h2 class="sd">お弁当のFCとして誕生</h2>
<p>
  当社は現代表取締役山岡正が昭和55年２月に東京都江戸川区中央１丁目15番24号において
  (有)丸千代商事（出資金6,000千円）を設立し、弁当のＦＣ店を開業したのが始まりです。
  ＦＣ事業開始から１年経過後にＦＣ店に加え直営店舗の経営も開始、
  昭和58年４月には事業が軌道に乗り、株式会社に組織変更しました。
</p>
<h2 class="sd">ラーメン山岡家開店！</h2>
<p>
  その後、近隣に弁当屋が開業し始め、
  他店競合が激しくなったこともあり、他の業態を模索し始めました。
  以前より自身の好物であったラーメンに興味を抱き、
  ブームに左右されない本当にうまいラーメンで事業を展開したいと考え、
  試行錯誤を繰り返した結果、現在の山岡家ラーメンの原型となる、
  豚骨をじっくり煮込んだスープをベースとしたラーメンを完成させました。
  昭和63年９月に屋号を「ラーメン山岡家」として茨城県牛久市に開店し、
  現在の営業スタイルの原型となる24時間、年中無休での営業を開始しました。
</p>
<h2 class="sd">山岡家札幌上陸</h2>
<p>
  券売機導入により店内オペレーションを簡素化し、
  多くのお客さまにラーメン提供が可能となり、
  評判も上々で多くのリピーターを獲得し、大成功を収めました。
  そこで、次の出店候補地を模索していたところ、
  山岡正憧れの地で、ラーメンの本場であり激戦区として知られる
  札幌で自分のラーメンを試したいと考え、
  平成４年５月、札幌市中央区にすすきの店、
  同年12月には南２条店を開店しました。
</p>
  <h2 class="sd">山岡家の味を拡げたい</h2>
<p>
  平成５年３月には、北海道での店舗展開を積極的に行うことを目的として、
  札幌市中央区南２条西１丁目６番地に(株)山岡家（資本金10,000千円）を設立し、
  (有)丸千代商事は関東圏全域の店舗展開・運営にあたることで、業務分担を図りました。
</p>
<h1 class="sd">沿革</h1>
<table class="history" summary="沿革">
  <col width="60" valign="top" />
  <col width="50" />
  <col width="*" />
  <tr>
    <th abbr="S55">昭和55年</th>
    <th abbr="2">2月</th>
    <td>東京に有限会社丸千代商事設立</td>
  </tr>
  <tr>
    <th abbr="S63">昭和63年</th>
    <th abbr="9">9月</th>
    <td>茨城県牛久市に「ラーメン山岡家」を開店</td>
  </tr>
  <tr>
    <th  abbr="H5">平成5年</th>
    <th abbr="3">3月</th>
    <td>札幌市中央区に（株）山岡家を設立し、（株）丸千代商事からすすきの店、南2条店を譲り受けて営業開始</td>
  </tr>
  <tr>
    <th abbr="H11">平成11年</th>
    <th abbr="4">4月</th>
    <td>栃木県の第1号店舗として、小山市に（株）丸千代商事小山田間店開店</td>
  </tr>
  <tr>
    <th abbr="H14">平成14年</th>
    <th abbr="2">2月</th>
    <td>（株）丸千代商事を吸収合併し、（株）丸千代山岡家に商号変更</td>
  </tr>
  <tr>
    <th rowspan="3" abbr="H15">平成15年</th>
    <th abbr="7">7月</th>
    <td>埼玉県の第1号店舗として、春日部市に春日部店開店</td>
  </tr>
  <tr>
    <th abbr="8">8月</th>
    <td>千葉県の第1号店舗として、柏市に柏店開店</td>
  </tr>
  <tr>
    <th abbr="12">12月</th>
    <td>群馬県の第1号店舗として、太田市に太田店開店</td>
  </tr>
   <tr>
    <th  abbr="H17" rowspan="4">平成17年</th>
    <th abbr="2">2月</th>
    <td>東京都の第1号店舗として、西多摩郡瑞穂町に瑞穂店開店</td>
  </tr>
  <tr>
    <th abbr="7">7月</th>
    <td>宮城県の第1号店舗として、名取市に名取店開店</td>
  </tr>
  <tr>
    <th abbr="8">8月</th>
    <td>静岡県の第1号店舗として、富士市に富士店開店</td>
  </tr>
  <tr>
    <th abbr="11">11月</th>
    <td>福島県の第1号店舗として、いわき市にいわき店開店</td>
  </tr>
  <tr>
    <th abbr="H18" rowspan="4">平成18年</th>
    <th rowspan="2" abbr="2">2月</th>
    <td>ジャスダック証券取引所に上場（証券コード:3399）</td>
  </tr>
  <tr>
    <td>神奈川県の第1号店舗として、厚木市に厚木店開店</td>
  </tr>
  <tr>
    <th abbr="5">5月</th>
    <td>岐阜県の第1号店舗として、瑞穂市に岐阜瑞穂店開店</td>
  </tr>
  <tr>
    <th abbr="8">8月</th>
    <td>山梨県の第1号店舗として、笛吹市に笛吹店開店</td>
  </tr>
  <tr>
    <th abbr="H19" rowspan="3">平成19年</th>
    <th>2月</th>
    <td>山形県の第1号店舗として、山形市に山形青田店開店</td>
  </tr>
  <tr>
    <th abbr="6">6月</th>
    <td>愛知県の第1号店舗として、豊橋市に豊橋下地店開店</td>
  </tr>
  <tr>
    <th abbr="10">10月</th>
    <td>三重県の第1号店舗として、桑名市に桑名店開店</td>
  </tr>
  <tr>
    <th abbr="H21" rowspan="3">平成21年</th>
    <th abbr="4">4月</th>
    <td>東京都23区内第1号店舗として新宿区に高田馬場店開店</td>
  </tr>
  <tr>
    <th abbr="9">9月</th>
    <td>茨城県つくば市に新業態「とんかつ処かつ千代つくば店」開店</td>
  </tr>
  <tr>
    <th abbr="12">12月</th>
    <td>水戸城南店開店によりラーメン山岡家100店舗達成</td>
  </tr>
  <tr>
    <th abbr="H22" rowspan="3">平成22年</th>
    <th abbr="7">7月</th>
    <td>長野県の第1号店舗として長野市に長野南長池店開店</td>
  </tr>
  <tr>
    <th abbr="10">10月</th>
    <td>岩手県の第1号店舗として盛岡市に岩手盛岡店開店</td>
  </tr>
  <tr>
    <th abbr="11">11月</th>
    <td>秋田県の第1号店舗として秋田市に秋田仁井田店開店</td>
  </tr>
  <tr>
    <th abbr="H23" rowspan="6">平成23年</th>
    <th abbr="7">4月</th>
    <td>札幌市に大阪王将北海道1号店として、大阪王将北9条店開店</td>
  </tr>
  <tr>
    <th abbr="8">8月</th>
    <td>青森県の第1号店舗として、弘前市に弘前店開店</td>
  </tr>
  <tr>
    <th abbr="9">9月</th>
    <td>富山県の第1号店舗として、高岡市に高岡店開店</td>
  </tr>
  <tr>
    <th abbr="10">10月</th>
    <td>
  	石川県の第1号店舗として、金沢市に金沢森戸店開店<br />
	兵庫県の第1号店舗として、明石市に明石店開店
  </td>
</tr>
  <tr>
    <th abbr="11">11月</th>
    <td>大阪府の第1号店舗として、岸和田市に岸和田店開店</td>
  </tr>
  </tr>
  <tr>
    <th abbr="12">12月</th>
    <td>
  	京都府の第1号店舗として、八幡市に京都八幡店開店<br />
    福岡県の第1号店舗として、北九州市に北九州店開店
    </td>
  </tr>
  <tr>
    <th abbr="H24" rowspan="2">平成24年</th>
    <th abbr="10" rowspan="2">10月</th>
    <td>熊本県の第一号店舗として、熊本市に熊本店開店</td>
  </tr>
  <tr>
    <td>つくば市にコメダ珈琲店茨城県の第一号店舗として、「コメダ珈琲店 つくば店」開店</td>
  </tr>
</table>
<h1 class="sd">店舗数の変遷</h1>
<%i=0%>
<table class="graph" summary="山岡家　店舗数の変遷">
  <col width="80" />
  <col width="*" />
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="shop-b" style="float:left;width:<%=(@shop_b[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店(山岡家<%=@shop_a[i]%>店/丸千代商事<%=@shop_b[i]%>店)</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="shop-b" style="float:left;width:<%=(@shop_b[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店(山岡家<%=@shop_a[i]%>店/丸千代商事<%=@shop_b[i]%>店)</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="shop-b" style="float:left;width:<%=(@shop_b[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店(山岡家<%=@shop_a[i]%>店/丸千代商事<%=@shop_b[i]%>店)</div>
        <%i+=1%>
      </td>
  </tr>
   <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="shop-b" style="float:left;width:<%=(@shop_b[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店(山岡家<%=@shop_a[i]%>店/丸千代商事<%=@shop_b[i]%>店)</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="shop-b" style="float:left;width:<%=(@shop_b[i].quo(@shop_ttl.max())*93).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店(山岡家<%=@shop_a[i]%>店/丸千代商事<%=@shop_b[i]%>店)</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
  <tr>
      <th abbr="H<%=9+i%>">平成<%=9+i%>年</th>
      <td>
        <div class="shop-a" style="float:left;width:<%=(@shop_a[i].quo(@shop_ttl.max())*83).to_i()%>%;"> </div>
        <div class="total">計<%=@shop_ttl[i]%>店</div>
        <%i+=1%>
      </td>
  </tr>
</table>
