<%=link_to("<div>ご挨拶</div>",{:action=>"greetings"},{:class=>"sidemenu"})%>
<%=link_to("<div>会社概要</div>",{:action=>"index"},{:class=>"sidemenu"})%>
<%=link_to("<div>ヒストリー</div>",{:action=>"history"},{:class=>"sidemenu"})%>
<%=link_to("<div>SNS ガイドライン</div>",{:action=>"sns_guideline"},{:class=>"sidemenu"})%>
<%=link_to("<div>創業25年感謝祭</div>",{:action=>"aniv_25"},{:class=>"sidemenu"})%>
