<strong title="<%=@menu.name%>">
  <div><%=image_tag "menu/logo/recomanded.gif", :alt=> "おすすめ！" if @menu.push_priority != nil%></div>
  <div style="border-bottom:solid 1px #AAAAAA;margin-bottom:10px;padding-bottom:2px;font-size:24px;">
    <%=image_tag "menu/logo/#{@menu.id}.jpg", :alt=> @menu.name if File.exist?("#{RAILS_ROOT}/public/images/menu/logo/#{@menu.id}.jpg")%>
    <%=@menu.name if not File.exist?("#{RAILS_ROOT}/public/images/menu/logo/#{@menu.id}.jpg")%>

  </div>
</strong>
<p><%=@menu.comment%></p>
<%if File.exist?("#{RAILS_ROOT}/public/images/menu/photo/#{@menu.id}.jpg") then%>
<%=image_tag "menu/photo/#{@menu.id}.jpg", :alt=> @menu.name%>
<%else%>
<%=image_tag "menu/photo/000.jpg", :alt=> @menu.name %>
<%end%>
<div style="float:right;margin-top:20px;"><%=digit @menu.price%></div>