<style type="text/css">
  div.top{
        background-color: #853135;
        width:500px;
  }
.comment {
	font-size: 14pt;
	color: #FFFFFF;
        width:100%;
}
.comment .txt{
	padding:5px 5px 10px 5px;
}
p{
font-size:14px;
margin:9px;
}
p strong{
font-size:16px;
color:yellow;
}
p a{
	color:#88DD99;
}

  dl.continue dt,dl.continue dd{
    border:none;
    font-size:14px;
  }
  dl.continue dt{
    color:yellow;
    font-size:16px;
    border-bottom:solid 1px #FF3311;
    padding:3px;
  }
  dl.continue dd a{
    color:white;
  }
  dl.continue{
    padding-left:10px;
    width:95%;
  }
</style>
<div class="top">
  <%=image_tag "menu/canpaign/siotonkotsu/title.png",:alt=>"濃厚プレミアム塩とんこつ"%>
  <div class="comment">
      <div class="txt">
          <p>
          <strong>「濃厚プレミアム塩とんこつ」</strong>の登場です。
          </p>
          <p>
          厳選した素材から作り上げた特製の塩ダレを使用。山岡家独自の濃厚スープとのコンビネーションは、「うまい！」の一言につきます。
          </p>
          <p>
          人気の背脂もたっぷりトッピングしました。
          </p>
          <p>

          さらに、自家製チャーシューはもちろん、国産青ネギ・最高級穂先メンマなど、具材にもこだわり、今までにない味わいを実現しました。
          </p>
          <p>
            <strong>「濃厚プレミアム塩とんこつ」</strong>は、<strong>2008年11月17日</strong>を持ちまして、販売を終了させていただきました。
          </p>
        </div>
  </div>
  <%=image_tag "menu/canpaign/siotonkotsu/set_title.png",:alt=>"セットがお得です",:width=>"500"%>
  <%=image_tag "menu/canpaign/siotonkotsu/soboroset.png",:alt=>"濃厚プレミアム塩とんこつ+そぼろ丼セット",:width=>"250"%><%=image_tag "menu/canpaign/siotonkotsu/riceset.png",:alt=>"濃厚プレミアム塩とんこつ＋半ライスセット",:width=>"250"%>
  <%=image_tag "menu/canpaign/siotonkotsu/suigyoza.png",:alt=>"ご一緒にトッピング/単品を選べる水餃子をどうぞ。",:width=>"500"%>
</div>