<style type="text/css">
  div.top{
        background-color: #FFFFFF;
        width:500px;
  }
.comment {
	font-size: 14pt;
	color: #FFFFFF;
        width:100%;
}
.comment .txt{
	padding:5px 5px 10px 5px;
}
p{
font-size:14px;
margin:9px;
}
p strong{2012/01/06
font-size:16px;
color:yellow;
}
p a{
	color:#88DD99;
}

  dl.continue dt,dl.continue dd{
    border:none;
    font-size:14px;
  }
  dl.continue dt{
    color:yellow;
    font-size:16px;2012/01/06
    border-bottom:solid 1px #FF3311;
    padding:3px;
  }
  dl.continue dd a{
    color:white;
  }
  dl.continue{
    padding-left:10px;
    width:95%;
  }
  table{
	border-collapse:collapse;
  }
  td,th{
  	border:solid 1px #333333;
  }
</style>
<div class="top">
<h1>
    プレミアム塩とんこつ<br />
	一部店舗販売延長のお知らせ
</h1>
<p>お客様各位</p>
<p>
    いつも山岡家をご利用いただきましてまことにありがとうございます。
</p>
<p>
    「プレミアム塩とんこつ」は、1/8を持ちまして販売終了の予定でございましたが、
	皆様に大変ご好評をいただいておりますため、一部店舗にて延長販売を行うこととさせていただきました。
</p>
<p>
    今回、最後のチャンスですので、ぜひこの機会にご賞味いただきますよう、お願い申し上げます。
</p>
<p>
  なお、 各店、食材がなくなり次第販売終了とさせていただきます。予めご了承くださいませ。
</p>
<p>延長店舗一覧</p>
<div>
	<table>
		<thead>
			<tr>
				<th>地区</th>
				<th>店舗名</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="6">北海道</td>
				<td><%=link_to "帯広店","http://www.yamaokaya.com/shop/121024.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "帯広南店","http://www.yamaokaya.com/shop/121039.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "釧路町店","http://www.yamaokaya.com/shop/121043.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "月寒店","http://www.yamaokaya.com/shop/121037.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "函館鍛冶店","http://www.yamaokaya.com/shop/121042.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "狸小路4丁目店","http://www.yamaokaya.com/shop/121040.html"%></td>
			</tr>
			<tr>
				<td rowspan="5">東北地方</td>
				<td><%=link_to "岩手盛岡店","http://www.yamaokaya.com/shop/122086.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "秋田仁井田店","http://www.yamaokaya.com/shop/122089.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "宮城野店","http://www.yamaokaya.com/shop/122091.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "郡山店","http://www.yamaokaya.com/shop/122094.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "弘前店","http://www.yamaokaya.com/shop/122097.html"%></td>
			</tr>
			<tr>
				<td rowspan="9">関東地方</td>
				<td><%=link_to "越谷レイクタウン店","http://www.yamaokaya.com/shop/122075.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "さいたま宮前店","http://www.yamaokaya.com/shop/122047.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "日立滑川店","http://www.yamaokaya.com/shop/122074.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "日立東金沢店","http://www.yamaokaya.com/shop/122080.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "テクノポリスセンター店","http://www.yamaokaya.com/shop/122099.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "君津店","http://www.yamaokaya.com/shop/122027.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "かすみがうら店","http://www.yamaokaya.com/shop/122069.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "つくば中央店","http://www.yamaokaya.com/shop/122063.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "千葉中央区店","http://www.yamaokaya.com/shop/122021.html"%></td>
			</tr>
			<tr>
				<td rowspan="7">中部地方</td>
				<td><%=link_to "音羽蒲郡店","http://www.yamaokaya.com/shop/122070.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "山梨甲斐店","http://www.yamaokaya.com/shop/122079.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "松本店","http://www.yamaokaya.com/shop/122088.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "金沢森戸店","http://www.yamaokaya.com/shop/122100.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "高岡店","http://www.yamaokaya.com/shop/122098.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "名古屋宝神店","http://www.yamaokaya.com/shop/122082.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "愛知刈谷店","http://www.yamaokaya.com/shop/122090.html"%></td>
			</tr>
			<tr>
				<td rowspan="3">近畿地方</td>
				<td><%=link_to "明石店","http://www.yamaokaya.com/shop/122101.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "岸和田店","http://www.yamaokaya.com/shop/122102.html"%></td>
			</tr>
			<tr>
				<td><%=link_to "京都八幡店","http://www.yamaokaya.com/shop/122103.html"%></td>
			</tr>
			<tr>
				<td>九州地方</td>
				<td><%=link_to "北九州店","http://www.yamaokaya.com/shop/122104.html"%></td>
			</tr>
		</tboby>
	</table>
</div>
<p style="clear:left; ">
	今後ともラーメン山岡家をご愛顧いただきますよう、お願い申しあげます。
</p>
</div>